---
import type { ImageMetadata } from 'astro';
import { Image } from 'astro:assets';
import { ViewTransitions } from 'astro:transitions';
import { fade } from 'astro:transitions';
import Nav from '../components/Nav.astro';
import Sidebar from '../components/Sidebar.astro';
import '../styles/_main.css';
import removeTrailingSlash from '../utils/removeTrailingSlash';

interface Props {
	title: string;
	bgImgSrc: {
		mobile: ImageMetadata;
		tablet: ImageMetadata;
		desktop: ImageMetadata;
	};
}

const { title, bgImgSrc } = Astro.props;
const routes = await Astro.glob('../pages/*.astro').then((res) =>
	res
		.map((page) => (!page.url ? '/' : page.url))
		.sort((route) => {
			// return routes in custom order
			if (route === '/') return -1;
			else if (route === '/destination') return -1;
			else if (route === '/crew') return -1;
			else return 1;
		})
);
const currentPath = removeTrailingSlash(Astro.url.pathname);
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="description"
			content="A multi-page space tourism website built with Astro, based on designs provided by Frontend Mentor."
		/>
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/png" href="/favicon-32x32.png" />
		<link
			rel="preload"
			href="/fonts/Bellefair-Regular.woff2"
			as="font"
			type="font/woff2"
			crossorigin
		/>
		<link
			rel="preload"
			href="/fonts/BarlowCondensed-Regular.woff2"
			as="font"
			type="font/woff2"
			crossorigin
		/>
		<link
			rel="preload"
			href="/fonts/BarlowCondensed-Bold.woff2"
			as="font"
			type="font/woff2"
			crossorigin
		/>
		<link
			rel="preload"
			href="/fonts/Barlow-Regular.woff2"
			as="font"
			type="font/woff2"
			crossorigin
		/>
		<meta name="generator" content={Astro.generator} />
		<title>{`Space Tourism | ${title}`}</title>
		<ViewTransitions />
	</head>
	<body
		class="relative inline-block h-auto min-h-screen w-full overflow-x-hidden lg:overflow-y-hidden 3xl:overflow-auto lgMaxHeight:overflow-y-visible"
	>
		<main>
			<div
				class={`${
					currentPath === '/destination'
						? 'min-h-[850px]'
						: currentPath === '/crew' || currentPath === '/technology'
						  ? 'min-h-[710px] overflow-x-clip'
						  : ''
				} lg:overflow-y-hidden lgMaxHeight:overflow-y-visible lgMinHeight:overflow-y-visible`}
			>
				<Nav routes={routes} />
				<div class="mx-6">
					<slot transition:animate={fade({ duration: '0.25s' })} />
				</div>
				<Sidebar routes={routes} />
			</div>

			<!-- desktop image -->
			<Image
				class="absolute top-0 -z-50 hidden h-full w-full object-cover lg:block"
				src={bgImgSrc.desktop}
				alt=""
				format="webp"
				quality={100}
				loading={'eager'}
			/>
			<!-- tablet image -->
			<Image
				class="absolute top-0 -z-50 hidden h-full w-full object-cover md:block lg:hidden"
				src={bgImgSrc.tablet}
				alt=""
				format="webp"
				quality={100}
				loading={'eager'}
			/>
			<!-- mobile image -->
			<Image
				class="absolute top-0 -z-50 h-full w-full object-cover md:hidden"
				src={bgImgSrc.mobile}
				alt=""
				format="webp"
				quality={100}
				loading={'eager'}
			/>

			<!-- overlay -->
			<div class="absolute top-0 -z-40 h-full w-full bg-primary-black/25 mix-blend-overlay"></div>
		</main>
		<script src="../scripts/sidebar-toggle.ts"></script>
	</body>
</html>
